<!DOCTYPE html>
  <head>
    <title>WebGLRenderer</title>
    <%= yield_content :assets %>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
  </head>

  <body onload="main()">
    <%= yield %>
  </body>
</html>