<header></header>

<div id="content">
  <div id="panel">
    <h3>Samples</h3>
    <ul>
      <% samples_files_list.each do |sample| %>
        <li><a href="#" onClick="load_sample('<%= sample %>');"><%= sample %></a></li>
      <% end %>
    </ul>

    <button type="button" onClick="reset_sample();">Reset</button>
  </div>

  <iframe id="viewer">
  </iframe>
</div>

<footer></footer>
