<header></header>

<div id="content">
  <div id="panel">
    <h3>Samples</h3>
    <ul>
      <% samples_files_list.each do |sample| %>
        <li><%= sample %></li>
      <% end %>
    </ul>
  </div>
  
  <iframe id="viewer">
  </iframe>
</div>

<footer></footer>
